.table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: centre;
    padding-left: 230px;
    border: 4px;
    display: flex;
    margin-top: 80px;
    text-orientation: sideways-right;

}

.content {
    font-family: verdana;
    font-size: 50px;
    text-align: center;
    margin-left: 80px;
    margin-right: 130px;
}

.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    background: linear-gradient(to right, rgb(231, 231, 9), rgb(226, 25, 10));
    background-blend-mode: lighten;
    border-radius: 80px;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 5px;

}

h1 {
    padding-top: 45px;
    padding-bottom: 0px;

}